@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    height: 100%;
}


.clearfix {
    clear: both;
    visibility: hidden;
}

body,
header {
    font-family: 'Sarabun';
    min-width: 425px;
    margin: auto;
    background-color: #D2D2D2;
}


.contenedor {
    margin: 0 auto;
}


@media(min-width: 1204px) {
    body,
    header {
        min-width: 1445px;
        max-height: 850px;
    }
}

@media(min-width: 1473px) {
    body,
    header {
        min-width: 1720px;
    }
}


/*Barra de navegación*/
nav {
    padding: 0 23px;
    background: #1B664C;
    height: 70px;
    width: 100%;
}

/*Hamburguesa menú*/
.btn-nav {
    position: relative;
    top: -15px;
    margin-left: -10px;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    width: 32px;
    cursor: pointer;
    color: #fff;
}

.btn-nav::before,
.btn-nav::after {
    content: '';
    display: block;
    height: 1.7px;
    background-color: currentColor;

    transform: translateY(-5px);
}

.btn-nav::before {
    box-shadow: 0 6px currentColor;
    transform: translateY(-5px);
}

.btn-nav::after {
    box-shadow: 0 6px currentColor;
    transform: translateY(5px);
}

@media (min-width: 1203.56px) {
    .btn-nav {
        display: none;
    }
}

/*Logos*/
.enlace {
    position: absolute;
    position: absolute;
    padding: 6.5px;
    margin-left: 5px;
}

/*Logo*/
nav a img {
    height: 58px;
    border-radius: 58px;
    align-items: center;
}

/*Título*/
h1 {
    font-family: 'Signika';
    display: inline-block;
    margin-left: 90px;
    margin-top: 5px;
    font-weight: lighter;
    font-size: 30px;
    color: #fff;
    margin-top: 20px;
}

/*Botones del Desktop*/
.botonesVerticales {
    display: none;
    margin: 0 0 20px 10px;
    margin-top: 17px;
}

.botonesVerticales button {
    background-color: #1d91b6;
    height: 38px;
    width: 170px;
    margin-right: 17px;
    border-radius: 0px;
}

.botonesVerticales button a {
    color: #fff;
    font-size: 20px;
}

@media (min-width: 1203.56px) {
    .botonesVerticales {
        display: inline-block;
    }
    .botonesVerticales {
        transform: translateY(-8px);
        margin-left: 6%;
    }
}

/*Mueve a la izquierda los botones cuando el ancho sea 1800 o menos*/
@media (min-width: 1473px) {
    .botonesVerticales {
        transform: translateY(-8px);
        margin-left: 11%;
    }

    .botonesVerticales button {
        margin-right: 20px;
    }
}

/*Usuario e Idioma*/
.botones {
    float: right;
    /*display: inline-block;*/
    margin-top: 10px;
    margin-right: -13px;
    border-radius: 100;
    overflow: hidden;
}

.user {
    float: left;
    background: url('imgs/usuario.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    background-position: center center;
    margin-top: 7px;
}

.language {
    background: url('imgs/bandera1.jpg');
    background-size: cover;
    width: 28px;
    height: 28px;
    background-position: center center;
    margin-top: 13.2px;
    margin-left: 5px;
    border-radius: 100px;
    float: left;
}

.triangulo-invertido {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #fff;
    float: right;
    margin-top: 25px;
    margin-left: 5px;
}


/*@media (min-width: 1203.56px) {
    .botonesVerticales {
        display: inline-block;
    }
}*/
/* HERO */

.heroAds {
    background-image: url("imgs/fondo.jpg");
    background-size: cover;
    background-position: center;
    height: 469px;
    width: 100%;
    padding: 18px;
}

@media (min-width: 1203.56px) {
    .heroAds {
        height: 426px;
    }
}

@media (min-width: 1473.78px) {
    .heroAds {
        height: 469px;
        padding: 25px;
    }
}

/* Formulario */

.elegirDestinos {
    width: 100%;
    margin: 0 auto;
    max-width: 351px;
    height: 345px;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 22px;
}

@media (min-width: 1203.56px) {

    .elegirDestinos {
        float: left;
        height: 385px;
        margin-right: 18px;
    }
}

@media (min-width: 1473.78px) {
    .elegirDestinos {
        float: left;
        height: 420px;
        max-width: 450px;
        margin-right: 18px;
    }
}

.elegirDestinos h3 {
    color: #1d91b6;
    text-align: center;
    margin: 0 -2px;
    padding: 4px 0;
}

@media (min-width: 1473.78px) {
    .elegirDestinos h3 {
        font-size: 23px;
    }
}

.elegirDestinos input[type="button"] {
    background-color: #989898;
    border: none;
    color: #FFF;
    border-radius: 10px;
    font-size: 10px;
    height: 13px;
    width: 13px;
    cursor: pointer;
}

.selecDestino #añadir {
    margin-left: 5px;
    vertical-align: middle;
    border-radius: 2px;
}

.selecDestino label {
    color: black;
    font-size: 12px;
    padding: 3px;
}

.selecDestino input[type="text"] {
    width: 100%;
    background-color: #989898;
    border-radius: 5px;
    border-style: none;
    color: #fff;
    height: 20px;
    padding-left: 4px;
    font-size: 10px;
}

.selecDestino input[type="text"]::placeholder {
    color: #fff;
    font-size: 10px;
}

@media (min-width: 1203.56px) {
    .selecDestino {
        padding: 10px 0 10px;
    }

    .selecDestino :nth-child(4) {
        margin-bottom: 6px;
    }

    .selecDestino :last-child {
        font-size: 14px;
    }
}

@media (min-width: 1473.78px) {

    .selecDestino {
        padding-top: 16px;
    }

    .selecDestino label {
        font-size: 16px;
        padding: 0;
    }

    .selecDestino input[type="text"],
    .selecDestino input[type="text"]::placeholder {
        font-size: 12px;
    }

    .selecDestino :nth-child(4) {
        margin-bottom: 14px;
    }

}

.añadirDestinos {
    padding: 12px 22px;
    max-width: 360px;
    margin: 0 auto;
}

.ayudaDestino {
    background-color: #989898;
    font-size: smaller;
    border-radius: 5px;
    height: 89px;
}

.ayudaDestino input[type="button"] {
    background-color: #D2D2D2;
    outline: solid 1px #5E6A75;
    font-size: 9px;
    height: 11px;
    width: 11px;
}

.ayudaDestino>p {
    background-color: black;
    color: #fff;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 4px 0;
}

.ayudaDestino>div {
    padding: 8px 17px;
    font-size: 10px;
    color: #fff;
}

.addDestino p {
    display: inline-block;
    padding-left: 10px;
}

.addDestino:not(:last-of-type) {
    padding-bottom: 5px;
}

@media (min-width: 1203.56px) {
    .ayudaDestino {
        height: 92px;
    }
}

@media (min-width: 1473.78px) {
    .ayudaDestino {
        height: 98px;
        font-size: 15px;
    }

    .addDestino p {
        font-size: 11px;
    }

}

.adultosNiños {
    font-size: 13px;
    display: block;
    padding: 10px 3px 20px;
}

.adultos :first-child,
.niños :first-child {
    padding: 0 16px 0 0;
}

.adultos {
    float: left;
    line-height: 17px;
}

.niños {
    float: right;
    line-height: 17px;
}

.adultos>* {
    display: inline;
}

.niños>* {
    display: inline;
}

.contNumero {
    background-color: #989898;
    width: 19px;
    height: 17px;
    color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    font-size: 10px;
}

@media (min-width: 1203.56px) {
    .adultosNiños {
        padding: 20px 0 22px;
    }
}

@media (min-width: 1473.78px) {

    .adultos :first-child,
    .niños :first-child {
        font-size: 16px;
    }
}

.buscar {
    width: 80px;
    margin: 0 auto;
}

.buscar input[type="submit"] {
    width: 100%;
    color: #fff;
    border-radius: 5px;
    height: 24px;
    cursor: pointer;
    background-color: #4A829E;
    border: #4A829E solid 1px;
    font-size: 15px;
    cursor: pointer;
}

@media (min-width: 1203.56px) {

    .buscar input[type="submit"] {
        height: 27px;
    }

}

@media (min-width: 1473.78px) {
    .buscar {
        width: 99px;
    }

    .buscar input[type="submit"] {
        height: 32px;
        font-size: 18px;
    }

}

/* ANUNCIOS */

.anuncios {
    height: 85px;
    color: #fff;
    max-width: 351px;
    margin: 0 auto;
    padding: 120px 0;
}

@media (min-width: 465px) {
    .anuncios {
        padding: 120px 0;
    }
}

@media (min-width: 1203.56px) {
    .anuncios {
        height: 193px;
        padding: 24px 0;
        max-width: 169px;
        float: left;
        position: relative;
        top: 88px;
    }
}

@media (min-width: 1473.78px) {
    .anuncios {
        padding: 18px 0;
        height: 205px;
        margin-left: 26px;
    }
}

.festivalesTradicionales,
.animales {
    width: 168px;
    max-width: 200px;
    position: relative;
    top: -105px;
    cursor: pointer;
    color: #fff;
    height: inherit;
    margin: 0 auto;
}

.festivalesTradicionales {
    float: left;
}

.animales {
    float: right;
}

@media (min-width: 1203.56px) {

    .festivalesTradicionales,
    .animales {
        width: 173px;
    }

    .animales {
        left: 5px;
    }
}

@media (min-width: 1473.78px) {

    .festivalesTradicionales,
    .animales {
        max-width: 220px;
        width: 220px;
        margin-bottom: 15px;
    }

    .animales {
        left: 50px;
    }
}

.textoAnuncio {
    height: 60px;
    background-color: #1d91b6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    padding: 10px 6px 6px 6px;
}

.textoAnuncio h5 {
    font-size: 0.8em;
    padding-bottom: 4px;
}

.festivalesTradicionales img,
.animales img {
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (min-width: 1203.56px) {

    .festivalesTradicionales img,
    .animales img {
        height: 120px;
    }
}

@media (min-width: 1473.78px) {

    .festivalesTradicionales img,
    .animales img {
        height: 140px;
    }
}

.textoAnuncio p {
    font-size: 10px;
}

/*Ofertas vuelos*/

button {
    background-color: #4A829E;
    border: #4A829E solid 1px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 15px;
    cursor: pointer;
}

.ofertasVuelos .ofertasTitulo {
    background-color: #1B664C;
    color: #FFFFFF;
    padding: 11.5px;
    align-items: center;
}

.ofertasTitulo h2 {
    font-size: 24px;
    font-weight: bold;
}

.ofertasTitulo p {
    font-size: 15px;
}

.oferta {
    width: 315px;
    height: 200px;
    border-radius: 10px;
    margin: 30px auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #00000025;
}

.oferta .paisCiudad {
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 10px;
}

.oferta h4 {
    float: left;
    color: #1D91B6;
    font-size: 18px;
    margin: 0 0 5px 15px;
}

.oferta h5 {
    float: right;
    margin-top: 8px;
    color: #5E6A75;
    font-size: 10px;
}

.oferta img {
    width: 315px;
    height: 106px;
}

.oferta .fecha {
    font-size: 8px;
    line-height: 1.1;
    float: left;
    padding-left: 10px;
    vertical-align: baseline;
}

.oferta .precioAnterior {
    font-size: 10px;
    line-height: 0.8;
    color: #838383;
    text-decoration: line-through;
    float: right;
    margin: 14px 5px 0 0;
    line-height: 1;
    vertical-align: baseline;
}

.oferta .precioActual {
    font-size: 8px;
    line-height: 1.1;
    float: right;
    text-align: right;
    margin-right: 7px;
    line-height: 1;
    vertical-align: baseline;
}

.oferta .precio {
    font-size: 18px;
    font-weight: bold;
}

.oferta button {
    cursor: pointer;
    width: 153px;
    height: 20px;
    font-size: 12px;
    color: #FFFFFF;
    margin: 5px 25%;
}

.ofertasVuelos .verMas {
    display: none;
}

.desktopOferta {
    display: none;
    max-width: 1204px;
}

@media(min-width:0px) and (max-width:1203.55px) {
    .ofertasVuelos .ofertasTitulo {
        margin-top: 80.5px;
        background-color: #1B664C;
    }
}

@media(min-width:1203.56px) {

    .desktopOferta {
        display: block;
        max-width: 1204px;
    }

    .ofertasVuelos {
        transform: translateY(-427px);
        float: right;
        width: 855px;
        height: 427px;
        background-color: #ffffff57;
        overflow: hidden;
    }

    .ofertasVuelos .ofertasTitulo {
        
        background-color: #1D91B6;
    }

    .oferta {
        width: 180px;
        height: 200px;
        margin: 76px 7px;
        float: left;
        transform: translateX(35px);
    }

    .oferta h4 {
        font-size: 15px;
        margin: 0 0 5px 7px;
    }

    .oferta h5 {
        margin-top: 5px;
        font-size: 9px;
    }

    .oferta .precioAnterior {
        font-size: 8px;
        margin: 12px 5px 0 0;
    }

    .oferta .fecha {
        font-size: 7px;
        padding-left: 7px;
    }

    .oferta .precio {
        font-size: 13px;
    }

    .oferta img {
        width: 180.5px;
        height: 103px;
    }

    .oferta button {
        margin: 10px 7%;
    }

    .ofertasVuelos .verMas {
        display: grid;
        color: #FFFFFF;
        text-align: center;
        transform: translateX(-400px);
        margin-top: 290px;
    }

    .verMas h3 {
        font-size: 20px;
    }
    
    .verMas .linea {
        height: 3px;
        background-color: #FFFFFF;
        margin: auto;
        width: 80px;
    }

    .verMas .triangulo-invertido {
        margin: auto;
        transform: translateY(6px);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #fff;
    }
}


@media(min-width:1473.78px) {
    .ofertasVuelos {
    transform: translateY(-470px);
    float: right;
    width: 929px;
    height: 469.5px;
    background-color: #ffffff57;
    overflow: hidden;
    }

    .oferta {
        width: 215px;
        height: 230px;
        margin: 70px 7px;
        float: left;
        transform: translateX(8px);
    }

    .ofertasTitulo h2 {
        font-size: 30px;
    }

    .ofertasTitulo p {
        font-size: 20px;
    }

    .oferta img {
        height: 122px;
        width: 215px;
    }

    .oferta button {
        margin: 10px 13%;
    }

    .oferta h4 {
        font-size: 18px;
    }

    .oferta h5 {
        font-size: 12px;
    }

    .oferta .fecha {
        font-size: 10px;
    }

    .oferta .precioAnterior {
        font-size: 12px;
        margin: 12px 5px 0 0;
    }

    .oferta .precio {
        font-size: 18px;
    }

    .oferta .mil {
        margin: -8px 5px 0 0;
    }

    .oferta button {
        width: 106px;
        height: 23px;
        font-size: 15px;
        color: #FFFFFF;
        margin: 8px 25%;
    }

    .ofertasVuelos .verMas {
        transform: translateY(-55px);
        width: inherit;
    }

    .verMas h3 {
        font-size: 25px;
    }

    .verMas .linea {
        width: 97px;
    }

    .oferta .paisCiudad {
        padding: 10px;
    }
}

/* Destacados */

.destacados {
    background-color: #1B664C;
    color: white;
	clear: both;
}

.destacados h2 {
    font-family: 'Sarabun', sans-serif;
    margin-left: 5px;
    margin-top: 14px;
    font-size: 24px;
    font-weight: bold;
}

.destacados p {
    margin-left: 5px;
    font-size: 12px;
    font-weight: lighter;
    font-family: 'Sarabun', sans-serif;
}

.cont-destacados {
    background-color: #D2D2D2;
    width: 100%;
    margin-top: 10px;
    padding: 5%;
}

.cont-destacados p {
    font-size: 13px;
}

.cont-destacados p:first-of-type {
    background-color: #1D91B6;
    color: white;
    border-radius: 8px;
    display: inline-block;
    padding: 7px;
    font-weight: bold;
    position: absolute;
    margin-left: -5.5%;
    margin-top: -5%;
}

.cont-articulo-destacado {
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 3px 0px gray;
    color: black;
    margin-bottom: 15px;
    padding: 10px;
    max-width: 370px;
    margin: 15px auto 0;
}

.cont-left-arrow{
    height: 90px;
    width: 5%;
    max-width: 60px;
    background-color: #4A829E;
    position: absolute;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: -1000px;
}

.cont-right-arrow{
    height: 90px;
    width: 5%;
    max-width: 60px;
    background-color: #4A829E;
    position: absolute;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-left: -1000px;
}

.flecha {
    color: white;
    font-size: 60px;
    font-weight: bold;
  }

@media (min-width: 520px) {

    .cont-articulo-destacado p:first-of-type {
        position: absolute;
        margin-left: -4%;
        margin-top: -2%;
    }
}

@media (min-width: 1204px) {

    .destacados {
        transform: translateY(-427px);
    }

    .cont-destacados{
        padding: 1% 0 1% 2.5%;
        text-align: center;
        position: relative;
    }

    .cont-articulo-destacado {
        width: 33%;
        max-width: 300px;
        display: inline-block;
        margin-bottom: 15px;
        margin-right: 4%;
    }

    .cont-articulo-destacado:last-of-type{
        margin-right: 0;
    }
    
    .cont-articulo-destacado p:first-of-type {
        margin-left: -2%;
        margin-top: -2%;
    }

    .cont-left-arrow{
        margin-left: -2.5%;
        margin-top: 45px;
        cursor: pointer;
    }
    
    .cont-right-arrow{
        margin-left: 0px;
        right: 0;
        margin-top: -145px;
        cursor: pointer;
    }
}

@media (min-width: 1473px) {

    .destacados {
        transform: translateY(-471px);
    }

    .cont-articulo-destacado {
        width: 30%;
        max-width: 430px;
        margin-right: 3%;
    }

    .cont-articulo-destacado p:first-of-type {
        margin-left: -1.5%;
        margin-top: -1%;
    }

    .cont-articulo-btn-left,input[type="submit"] {
        margin-left: -5%;
    }
    
    .cont-articulo-btn-right,input[type="submit"]{
        margin-right: 10%;
    }
}

.cont-articulo-destacado img {
    width: 32.5%;
    height: 70px;
    margin-left: -4px;
}

.cont-articulo-destacado img:first-of-type {
    width: 32.5%;
    height: 70px;
    margin-left: 4px;
}

.cont-articulo-destacado .destacado-float-izq {
    float: left;
}

.cont-articulo-destacado .destacado-float-der {
    float: right;
    margin-right: 4%;
}

.cont-articulo-destacado .destacado-float-dis {
    clear: both;
}

.cont-articulo-destacado span {
    font-size: 10px;
}

.cont-articulo-destacado-btn{
    text-decoration: none;
    color: white;
    background-color: #4A829E;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-style: none;
    padding: 4px 8px;
    margin-top: 5px;
    cursor: pointer;
}

.cont-articulo-btn-left {
    margin-left: 12%;
}

.cont-articulo-btn-right {
    position: relative;
    float: right;
    margin-right: 6.5%;
}

/*Footer*/
footer {
    background: #1B664C;
    padding: 18px;
}

/*Logo principal*/
footer .logo_principal {
    height: 58px;
    border-radius: 58px;
    margin-top: 18px;
}

footer .logo_y_title {
    column-count: 2;
    margin-top: -20px;
}

footer .logo_y_title h1 {
    display: inline-block;
    margin: 29px;
    margin-left: -110px;
    font-size: 30px
}

footer .columnas_footer {
    column-count: 2;
    color: #fff;
    font-family: 'Signika', sans-serif;
}

.columnas_footer .columna1 {
    margin-top: 10px;
    margin-left: -10px;
}

.columnas_footer .columna1 h2 {
    font-size: 20px;
    margin-left: 5px;
}

.columnas_footer .columna1 ul {
    font-weight: lighter;
    font-size: 12px;
    margin-top: 15px;
}

/*Logos RRSS*/
footer .columna2 img {
    height: 35px;
    border-radius: 35px;
}

.columnas_footer .columna2 ul {
    font-weight: lighter;
    font-size: 12px;
}

footer .columnas_footer ul li {
    margin: 6px;
}

@media (max-width: 1473.77px) {


    footer .logosRRSS {
        display: none;
    }

    footer .logo_y_title {
        display: inline-block;
    }

    footer .logo_y_title h1 {
        float: left;
        margin-right: 175px;
        margin-left: -133px;
    }
}

@media(min-width: 1204px) {
    footer {
        transform: translateY(-427px);
    }
}

@media (min-width: 1473.77px) {
    footer {
        height: 255px; 
        transform: translateY(-470px);
    }

    footer .logo_principal {
        height: 90px;
        width: 90px;
        margin-left: 10px;
        margin-right: -35px;
    }

    footer .logo_y_title {
        column-count: 3;
        margin-top: 20px;
        float: left;
        margin-right: 110px;
        margin-left: 100px;
    }

    footer .logo_y_title h1 {
        font-size: 50px;
        margin-top: 120px;
        margin-right: -100px;
        margin-left: -140px;
    }

    footer .columnas_footer {
        column-count: 2;
    }

    .columnas_footer .columna1 h2 {
        font-size: 35px;
        font-family: 'Sarabun', sans-serif;
        margin: 0 auto;
        margin-top: -15px;
        margin-bottom: -10px;
    }

    footer .columnas_footer ul li {
        font-size: 25px;
        font-family: 'Sarabun', sans-serif;
        margin: -2px;
    }

    .columna2 {
        margin: 20px;
        padding-top: 20px;
        padding: 40px;
    }
    .columna2 img {
        display: none;
    }

    .logosRRSS img {
        float: right;
        margin: 70px 2px;
        margin-top: -120px;
        margin-right: 10px;
        width: 65px;
        height: 65px;
    }
}
