@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Signika+Negative:wght@300&family=Signika:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*Barra de navegación*/
nav {
    padding: 0 20px;
    background: #1B664C;
    height: 70px;
    width: 100%;
}

/*Hamburguesa menú*/
.btn-nav {
    padding: relative;
    top: -12px;
    margin-left: -10px;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    width: 30px;
    cursor: pointer;
    color: #fff;
}

.btn-nav::before,
.btn-nav::after {
    content: '';
    display: block;
    height: 1.7px;
    background-color: currentColor;

    transform: translateY(-5px);
}

.btn-nav::before {
    box-shadow: 0 6px currentColor;
    transform: translateY(-5px);
}

.btn-nav::after {
    box-shadow: 0 6px currentColor;
    transform: translateY(5px);
}

/*Logos*/
.enlace {
    position: absolute;
    padding: 9.5px;
    margin-left: 5px;
}

/*Título*/
h1 {
    font-family: 'Signika', sans-serif;
    display: inline-block;
    margin-left: 90px;
    margin-top: 5px;
    font-weight: lighter;
    font-size: 30px;
    color: #fff;
    margin-top: 20px;
}

nav a img {
    height: 50px;
    border-radius: 50px;
    align-items: center;
}

nav ul li div {
    height: 30px;
    width: 30px;
}

.botones {
    float: right;
}

.botones li {
    display: inline-block;
    margin-left: 10px;
    margin-top: 15px;
    border-radius: 100%;
    overflow: hidden;
}

.language select {
    display: none;
}

.user {
    background: url('imgs/usuario.png');
    background-size: cover;
    width: 35px;
    height: 35px;
    background-position: center center;
}

.language {
    background: url('imgs/bandera1.jpg');
    background-size: cover;
    width: 35px;
    height: 35px;
    background-position: center center;
}
