@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body, header {
    font-family: 'Sarabun';
    min-width: 400px;
    margin: auto;
    background-color: #D2D2D2;
}


.contenedor {
    margin: 0 auto;
}

/*Barra de navegación*/
nav {
    padding: 0 20px;
    background: #1B664C;
    height: 70px;
    width: 100%;
}

/*Hamburguesa menú*/
.btn-nav {
    position: relative;
    top: -15px;
    margin-left: -10px;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    width: 32px;
    cursor: pointer;
    color: #fff;
}

.btn-nav::before,
.btn-nav::after {
    content: '';
    display: block;
    height: 1.7px;
    background-color: currentColor;

    transform: translateY(-5px);
}

.btn-nav::before {
    box-shadow: 0 6px currentColor;
    transform: translateY(-5px);
}

.btn-nav::after {
    box-shadow: 0 6px currentColor;
    transform: translateY(5px);
}

/*Logos*/
.enlace {
    position: absolute;
    position: absolute;
    padding: 6.5px;
    margin-left: 5px;
}

/*Logo*/
nav a img {
    height: 58px;
    border-radius: 58px;
    align-items: center;
}

/*Título*/
h1 {
    font-family: 'Signika';
    display: inline-block;
    margin-left: 90px;
    margin-top: 5px;
    font-weight: lighter;
    font-size: 30px;
    color: #fff;
    margin-top: 20px;
}

/*Usuario e Idioma*/
.botones {
    float: right;
    /*display: inline-block;*/
    margin-top: 10px;
    margin-right: -13px;
    border-radius: 100;
    overflow: hidden;
}

.user {
    float: left;
    background: url('imgs/usuario.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    background-position: center center;
    margin-top: 7px;
}

.language {
    background: url('imgs/bandera1.jpg');
    background-size: cover;
    width: 28px;
    height: 28px;
    background-position: center center;
    margin-top: 13.2px;
    margin-left: 5px;
    border-radius: 100px;
    float: left;
}

.triangulo-invertido {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #fff;
    float: right;
    margin-top: 25px;
    margin-left: 5px;
}

/* HERO */

.hero {
    background-image: url("imgs/fondo.jpg");
    background-size: cover;
    background-position: center;
    height: 449px;
    width: 100%;
    padding: 10px;
}

/* Formulario */

.elegirDestinos {
    width: 100%;
    height: 335px;
    background-color: #fff;
    border-radius: 10px;
    padding: 12px;
    font-family: 'Sarabun', sans-serif;
}

.elegirDestinos h4 {
    color: #1d91b6;
    font-weight: bolder;
    text-align: center;
    padding: 5px 0 14px;
}

.elegirDestinos input[type="button"] {
    background-color: #989898;
    border-radius: 10px;
    height: 1.em;
}

.selecDestino label {
    color: black;
    font-size: smaller;
    font-weight: 400;
    padding: 4px;
}

.selecDestino input[type="text"] {
    width: 100%;
    background-color: #989898;
    border-radius: 5px;
    border-style: none;
    color: #fff;
    height: 20px;
    padding-left: 8px;
    margin: 2px 0 2px ;
}

.añadirDestinos {
    padding: 20px;
}

.ayudaDestino {
    background-color: #989898;
    font-size: smaller;
}

.ayudaDestino p {
    background-color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* ANUNCIOS */

.anuncios {
    background-color: #d2d2d2;
    height: 85px;
    font-family: 'Sarabun', sans-serif;
    padding: 15px;
    color: #fff;
}

.festivalesTradicionales, .animales {
    height: 155px;
    width: 170.5px;
    position:relative;
    top: -105px;
}

.textoAnuncio {
    height: 60px;
    background-color: #1d91b6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    padding: 10px 6px 6px 6px;
}

.textoAnuncio h5 {
    font-size: 0.7em;
    padding-bottom: 4px;
}

.festivalesTradicionales {
    float:left;
}

.animales {
    float: right;
}

.festivalesTradicionales img, .animales img {
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.festivalesTradicionales p, .animales p {
    font-size: x-small;
    font-weight: 100;
    
}

/*Ofertas vuelos*/

button {
    background-color: #4A829E;
    border: #4A829E solid 1px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 15px;
    cursor: pointer;
}


.ofertasVuelos {
    margin-top: 100px;
}

.ofertasVuelos .ofertasTitulo {
    background-color: #1B664C;
    color: #FFFFFF;
    padding: 20px;
}

.ofertasTitulo h2 {
    font-size: 24px;
    font-weight: bold;
}

.ofertasTitulo p {
    font-size: 15px;
}

.oferta {
    width: 315px;
    height: 200px;
    border-radius: 10px;
    margin: 30px auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #00000025;
}

.oferta .paisCiudad {
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 10px;
}

.oferta h4 {
    float: left;
    color: #1D91B6;
    font-size: 18px;
    margin: 0 0 5px 15px ;
}

.oferta h5 {
    float: right;
    margin-top: 8px;
    color: #5E6A75;
    font-size: 10px;
}

.oferta img {
    width: 315px;
    height: 106px;
}

.oferta .fecha {
    font-size: 8px;
    line-height: 1.1;
    float:left;
    padding-left: 10px;
    vertical-align: baseline;
}

.oferta .precioAnterior {
    font-size: 10px;
    line-height: 0.8;
    color: #838383;
    text-decoration: line-through;
    float: right;
    margin: 16px 5px 0 0;
    line-height: 1;
    vertical-align: baseline;
}

.oferta .precioActual {
    font-size: 8px;
    line-height: 1.1;
    float: right;
    text-align: right;
    margin-right: 7px;
    line-height: 1;
    vertical-align: baseline;
}

.oferta .precio {
    font-size: 18px;
    font-weight: bold;
}

.oferta button {
    cursor: pointer;
    width: 153px;
    height: 20px;
    font-size: 12px;
    color: #FFFFFF;
    margin: 5px 25%;
}